body {
    font-family: Helvetica Neue, sans-serif;
    background-image: url("images/background.jpg");     
    background-size:cover;    
    background-repeat: no-repeat;
    background-attachment: scroll;
    
}
#transparent {
    opacity: 0.8;

}

#masthead {
    width: 1000px;
    margin: 0 auto;
    height: 200px;
    margin: 0 auto;
    background-position: center;
    background-size: cover;    
    background-repeat: no-repeat;
    padding: 1.5rem; 
    
}

.changecolour {
    color: #eeebeb;
}

#masthead h1 {
    color: rgb(24, 17, 17);
    font-size: 4rem;
    margin: 0;
    padding: 0;
   line-height: 3;
   position: relative;
   left: 90px;

}

.content {
    width: 1048px;
    margin: 0 auto;   
    background-color: rgb(246, 250, 198);
    display: flex;
    flex-direction: row;

}

 main {
  width: 90%;
   
}


.content nav ul a {
    color: white;
    text-decoration: none;
  
}

 .navigation{

    background-color: #172121;
    padding: 2rem;
    border-width: 2px;
    border-style: solid;
    width: 300px;
    display: relative;
    justify-content: flex-start;
    flex-direction: column;
    float: left;

   
}


.content nav ul {
    list-style-type: none;
    padding: 0rem;
    margin: 0 auto;
    display: flex; 
    flex-direction: column;
    /*align-items: flex-start;*/
    line-height: 7rem;
    text-align: center;
   
 }


.content nav ul a:hover {
    color: rgba(0, 153, 255, 0.767);
}


.article {

    margin-bottom: 3rem;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #BFACB5;
}

article h2 {
    font-size: 2rem;
    margin: 0;
   
}


article header {
    margin-top: 0;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #7F7B82;
}


main .article-body p {
    font-family: Georgia;
    line-height: 1.5rem;
    text-align: justify;
}

main a {
    color: #7F7B82;
    text-decoration: none;
}

#maindiv {
    display: flex;
    justify-content: flex-start;
    flex-grow: 1;
    padding: 1.5rem; 
}

.container #Firstfood {
    display: flex;
    position: relative;
    float: left;
    margin-top: 0;

}

.container #recipe {
    display: flex;
    position: relative;
    left: 10px;
    text-align: justify;
}


.article-footer {
    text-align: right;
    margin-bottom: 4rem;

}

.article-footer a {
    color: white;
    background-color: #7F7B82;
    padding: 1rem;
} 



footer {
    width: 1000px;
    margin: 0 auto;
    background-color: #172121;
    padding: 1.5rem;
    color: white;
}

footer a {
    color: white; 
    background-color:#172121;

    
}